#### Q 1 - Write a code to add item 7000 after 6000 in the following Python List
#### Expected output:
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [62]:
nums_list = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [63]:
nums_list[2][2].insert(2, 7000)
print(nums_list)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

#### Q 2 - Remove all occurrences of a 20 item from a list.
#### Expected output:
[5, 15, 25, 50]

In [64]:
nums_list2 = [5, 20, 15, 20, 25, 50, 20]

In [65]:
nums_list2 = [num for num in nums_list2 if num != 20]
print(nums_list2)

[5, 15, 25, 50]

#### Q 3 - Insert 1 at index 2 for list 'A' below.

In [66]:
A = [4, 7, 5]

In [67]:
A.insert(2, 1)
print(A)

[4, 7, 1, 5]

#### Q 4 - What is the difference between extend and append function? Explain giving a brief example.

In [68]:
# 'append' adds its argument as a single element, while 'extend' adds the elements of its argument to the list.
# append
list1 = [1, 2, 3]
list1.append(4)
print(list1)

# extend
list2 = [1, 2, 3]
list2.extend([4, 5, 6])
print(list2)

[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6]

#### Q 5 - Delete the last 2 elements of below list

In [69]:
B = [2, 4, 6, 8, 10, 12]

In [70]:
B = B[:-2]
print(B)

[2, 4, 6, 8]

#### Q - 6 Reverse the below tuple

In [71]:
nums = (10, 20, 30, 40, 50)

In [72]:
nums = nums[::-1]
print(nums)

(50, 40, 30, 20, 10)

#### Q - 7 Access value '6' from the tuple

In [73]:
tup = ("Red", [5, 7, 9], (2, 6, 14))

In [74]:
print(tup[2][1])

6

#### Q 8 - Unpack the below tuple into 3 variables:

In [75]:
x = "New York", 2022, "Financial Hub"

In [76]:
city, year, designation = x
print("City:", city)
print("Year:", year)
print("Designation:", designation)

City: New York
Year: 2022
Designation: Financial Hub

#### Q 9 - Create a single variable tuple

In [77]:
single_variable_tuple = ('first element',)
print(single_variable_tuple)

('first element',)

#### Q 10 - How many times did 99 occured in below tuple

In [78]:
nums_tuple = (10, 20, 99, 30, 99, 40, 60, 100)

In [79]:
occurrences = nums_tuple.count(99)

print("Number of occurrences of 99:", occurrences)

Number of occurrences of 99: 2