### Data Structures

Data structure is a particular way of organizing data in a computer so that it can be used efficiently. There are many different methods for storing data and they differ based on the arrangement of the individual elements in memory, the speed of access to the individual element, and the indexing technique used to access the individual elements etc. 

While add-on libraries like pandas and NumPy add advanced computational functionality for larger datasets, they are designed to be used together with Python’s built-in data manipulation tools.
We’ll start with Python’s workhorse data structures: tuples, lists, dicts, and sets. 

In Python, data structures can be classified further into two categories: mutable and immutable.

Mutable data structures can be modified, that means, elements can be added to them or elements can be removed. On the other hand, immutable data structures can not be modified, that means, once an immutable data structure is defined, no changes can be performed on it. 

The built is data structures in Python are 

1. **List** is an ordered sequence of objects. Elements in the list can be any Python objects. They are mutable.


2. **Tuple** is an ordered sequence of objects. Elements in the tuple can be any Python objects. Tuple are immutable


3. **Dictionary** is a sequence of key and value pairs. Dictionary is mutable as new key-values can be added and existing key-values can be modified. In a dictionary, the keys have to mutable. 

4. **Set** is an unordered sequence of unique elements. Sets are mutable but its elements are immutable. 


5. **String** is an ordered sequence of characters. Strings are immutable. 

It is necessary to understand the time and space complexity of these data structures, so that code can be written that runs efficiently both in terms of time and memory. It is also a good programming practice that future programmers reading your code would appreciate and understand. 

Let us discuss them one by one.

### List

A list is a data-structure, or it can be considered a container that can be used to store multiple data at once. List is a collection of items. These items can be of any Python data type. Thus, list can be created from integers, floats, strings, tuples, lists etc. List can have items of different type in the same list. However, it is not recommended. 

Lists are great if you want to preserve the sequence of the data and then iterate over them later for various purposes.

The important characteristics of Python lists are as follows:

- Lists are ordered. Each item has a unique index value. The new items will be added at the end of the list.  

- Lists can contain any arbitrary objects.,i.e., they can contain elements of string, integer, boolean, or any type.  

- List elements can be accessed by index.

- Lists can be nested to arbitrary depth.

- Lists are mutable. The elements of the list can be modified. We can add or remove items to the list after it has been created.

- The list can contain duplicates i.e, lists can have two items with the same values.

In this notebook you will come to know how to create python lists and the common paradigms for a python list.

### Why use a list?

- The list data structure is very flexible It has many unique inbuilt functionalities like `pop()`, `append()`, etc which makes it easier, where the data keeps changing.
- Also, the list can contain duplicate elements i.e two or more items can have the same values.
- Lists are Heterogeneous i.e, different kinds of objects/elements can be added
- As Lists are mutable it is used in applications where the values of the items change frequently.

#### How to create a list

The list can be created using either the list constructor or using square brackets [].

- Using square bracket ([ ]): In this method, we can create a list simply by enclosing the items inside the square brackets.

- Using list() constructor: In general, the constructor of a class has its class name. Similarly, Create a list by passing the comma-separated values inside the list().

#### Using square brackest [ ]

The syntax for list is

x = [elem1, elem2, elem3, ...]

Note that list starts with an open square bracket,[ and ends with a closed square bracket] and elements are separated by a comma.

In [1]:
Fruits = ['apricot', 'banana', 'grapes', 'kiwi', 'orange', 'strawberry']
print(Fruits)

['apricot', 'banana', 'grapes', 'kiwi', 'orange', 'strawberry']

In [2]:
type(Fruits)

list

In [3]:
Fruits[0]

'apricot'

In [ ]:
type(Fruits[0])

In [4]:
Fruits

['apricot', 'banana', 'grapes', 'kiwi', 'orange', 'strawberry']

#### Using list constructor

In [ ]:
list1 = list((1,2,3,4))
print(list1)

In [5]:
# with heterogeneous items

list2 = [1.0, 'john', 5]
print(list2)

[1.0, 'john', 5]

#### Length of a List
In order to find the number of items present in a list, we can use the `len()` function.

In [6]:
list1 = [1,2,3,4]
print(len(list1))

4

###  Access Items in a list

The items in a list can be accessed through indexing and slicing. This section will guide you by accessing the list using the following two ways

- **Using indexing**, we can access any item from a list using its index number
- **Using slicing**, we can access a range of items from a list

#### Indexing
To access values in lists, use the square brackets for slicing along with the index or indices to obtain value available at that index.

The index of the list starts with `zero`. Each element will have a distinct place in the sequence and if the same value occurs multiple times in the sequence, each will be considered separate and distinct element.  

lists are of variable-length and their contents can be modified `in-place`.

Trying to access an element other that this will raise an `IndexError`. 

The index must be an integer. We can't use float or other types, this will result into `TypeError`.
 
![index](positive-and-negative-indexing.jpeg)

In [7]:
list1 = [1,2,3,4]
print(list1)

[1, 2, 3, 4]

In [8]:
print(list1[2])

3

#### Negative Indexing

The elements in the list can be accessed from right to left by using **negative indexing**. Negative indices slice the sequence relative to the end, -1 refers to the last item, -2 refere to the second last itenm etc.

In [9]:
# print the last item of the list
print(list1[-2])

3

#### List Slicing

You can select sections of most sequence types by using slice notation, which in its basic form consists of `start:stop` passed to the indexing operator [ ]:
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

Syntax for the slicing

listname[start_index:end_index:step]

- The `start_index` denotes the index position from where the slicing should begin and the `end_index` parameter denotes the index positions till which the slicing should be done.
- The `step` allows you to take each nth-element within a `start_index:end_index` range.

In [2]:
x = [7,2,3,5,6,0,1]
print(x)

[7, 2, 3, 5, 6, 0, 1]

In [14]:
# extracting a portion of the list from 2nd till 4th element
print(x[1:5])

[2, 3, 5, 6]

**Note**: While the element at the `start` index is included, the `stop` index is not included, so that the number of elements in the result is `stop - start`.

Either the `start` or `stop` can be omitted, in which case they default to the start of the
sequence and the end of the sequence, respectively:

In [16]:
x

[7, 2, 3, 5, 6, 0, 1]

In [15]:
## slice the first four items
x[:4]

[7, 2, 3, 5]

In [ ]:
# without end value. Starting from 4th item to the last item
x[4:]

In [ ]:
x

In [7]:
x[:len(x)]  # x[:7]

[7, 2, 3, 5, 6, 0, 1]

In [8]:
x[len(x)-1]

1

In [5]:
# print every second elemnt with a skip count 2
print(x[::2])  # every element at the even location.
print(x[1::2]) # every element at the odd location.

[7, 3, 6, 1]
[2, 5, 0]

#### Range of Negative Indexes
Specify negative indexes if you want to start the search from the end of the list

In [9]:
x

[7, 2, 3, 5, 6, 0, 1]

In [10]:
x[-3:]

[6, 0, 1]

A clever use of this is to pass -1, which has the useful effect of reversing a list or tuple:

In [12]:
#. [1,0,6,5,9,8,7]  # reversed list

In [13]:
print(x[1:5])

[2, 3, 5, 6]

In [16]:
x[::-1]

[1, 0, 6, 5, 3, 2, 7]

In [20]:
print(x[::-2])
print(x[::-3])

[1, 6, 3, 7]
[1, 5, 7]

In [18]:
x

[7, 2, 3, 5, 6, 0, 1]

In [21]:
# looping through the list

for i in x:
    print('We are printing one element at a time:', i)

We are printing one element at a time: 7
We are printing one element at a time: 2
We are printing one element at a time: 3
We are printing one element at a time: 5
We are printing one element at a time: 6
We are printing one element at a time: 0
We are printing one element at a time: 1

#### Iterate along with an index number
The `index` value starts from `0` to `(length of the list-1)`. Hence using the function `range()` is ideal for this scenario.

The `range` function returns a sequence of numbers. By default, it returns starting from 0 to the specified number (increments by 1). The starting and ending values can be passed according to our needs.

In [31]:
print(range(len(x)))

for i in range(len(x)):
    print(i)
    print('We are printing one element at a time:',x[i])

range(0, 7)
0
We are printing one element at a time: 7
1
We are printing one element at a time: 2
2
We are printing one element at a time: 3
3
We are printing one element at a time: 5
4
We are printing one element at a time: 6
5
We are printing one element at a time: 0
6
We are printing one element at a time: 1

#### Adding elements to the list
We can add a new element/list of elements to the list using the list methods such as `append()`, `insert()`, and `extend()`.

In [35]:
x=[7, 2, 3, 5, 6, 0, 1]

In [36]:
x.append(3.14) # 3.14 will get appended to A
print(x)

[7, 2, 3, 5, 6, 0, 1, 3.14]

In [37]:
A = [4, 7, 5]
A.append([-6,[-7, 8]]) # list [-6, -7] will be appended to A
print(A)

[4, 7, 5, [-6, [-7, 8]]]

In [24]:
len(A)

4

In [38]:
type(A[3])

list

In [39]:
A[3]

[-6, [-7, 8]]

In [42]:
print(A[3][0])
print(A[3][1])

-6
[-7, 8]

#### Using extend()
The `extend` method will accept the list of elements and add them at the end of the list. We can even add another list by using this method.

In [46]:
A1 = [4, 7, 5]
A1.extend([-7,8]) # values -6 and -7 will be appended to A
print(A1)

[4, 7, 5, -7, 8]

In [45]:
A = [4, 3.14, [-6, -7], -9, -8]
print(A)
A.extend([4])
print(A)

[4, 3.14, [-6, -7], -9, -8]
[4, 3.14, [-6, -7], -9, -8, 4]

In [ ]:
A = [4, 3.14, [-6, -7], -9, -8]
A.extend((91,92))
print(A)

#### Add item at the specified position in the list
Use the `insert()` method to add the object/item at the specified position in the list. The insert method accepts two parameters position and object.

`insert(index, object)`

It will insert the `object` at the specified `index`.

In [48]:
A = [4, 7, 5]
# insert -3 at position 1
A.insert(1, -3) 
print(A)

[4, -3, 7, 5]

In [ ]:
A

In [50]:
# insert nested list at position 2
A.insert(2,[20,[30,40]])
print(A)

[4, -3, [20, [30, 40]], [20, [30, 40]], 7, 5]

#### Modify the items of a List
The list is a mutable sequence of iterable objects. It means we can modify the items of a list. Use the index number and assignment operator (`=`) to assign a new value to an item.

Let’s see how to perform the following two modification scenarios

Modify the individual item.
Modify the range of items

In [ ]:
x

In [51]:
# Modify a single item 
x[1] = 10
print(x)

[7, 10, 3, 5, 6, 0, 1, 3.14]

In [52]:
# modify range of items
#Slices can also be assigned to with a sequence:
x[1:3]= [8,9]
x

[7, 8, 9, 5, 6, 0, 1, 3.14]

#### Modify all items
Use for loop to iterate and modify all items at once

In [53]:
x

[7, 8, 9, 5, 6, 0, 1, 3.14]

In [56]:
# change value of all items
for i in range(len(x)):
    # calculate square of each number
    square = x[i] * x[i]
    x[i] = square

print(x)

[49, 64, 81, 25, 36, 0, 1, 9.8596]

In [57]:
# Another way
x = [7, 8, 9, 5, 6, 0, 1, 3.14]
x1 = []
for i in x:
    # calculate square of each number
    square = i*i
    x1.append(square)

print(x1)

[49, 64, 81, 25, 36, 0, 1, 9.8596]

In [58]:
# change value of all items
x2 = []
for i in range(len(x)):
    # calculate square of each number
    square = x[i] * x[i]
    x2.append(square)

print(x2)

[49, 64, 81, 25, 36, 0, 1, 9.8596]

#### Removing elements from a List
The elements from the list can be removed using the following list methods.

|method|Description|
|---|---|
|remove(item)| To remove the first occurrence of the item from the list| 
|pop(index)|Removes and returns the item at the given index from the list.|
|clear()|	To remove all items from the list. The output will be an empty list.|
|del list_name|	Delete the entire list.|

#### Remove specific item
Use the `remove()` method to remove the first occurrence of the item from the list.

Note:  It throws a `keyerror` if an item not present in the original list.

In [61]:
list1 = [2,4,5,6,5,7,8]

# remove 5 
#list1.remove(5)
list1.remove(list1[4])

print(list1)

[2, 4, 6, 5, 7, 8]

In [66]:
list1 = list([4, 5, 1, 5, 8, 12])
list1.remove(5)
print(list1)

[4, 1, 5, 8, 12]

#### Remove all occurrence of a specific item
Use a loop to remove all occurrence of a specific item

In [67]:
list1 = list([5, 4, 5, 5, 8, 12])
print(list1)
for item in list1:
    print(item)
    list1.remove(5)
    print(list1)

print(list1)
# Output [4, 8, 12]

[5, 4, 5, 5, 8, 12]
5
[4, 5, 5, 8, 12]
5
[4, 5, 8, 12]
8
[4, 8, 12]
[4, 8, 12]

#### Remove item present at given index
Use the `pop()` method to remove the item at the given index. The pop() method removes and returns the item present at the given index.

**Note**: It will remove the last time from the list if the index number is not passed.

In [68]:
list1 = list([3, 4, 5, 6, 8, 12])
list1.pop(3)
print(list1)

[3, 4, 5, 8, 12]

In [69]:
# remove the item without passing index number
list1.pop()
print(list1)

[3, 4, 5, 8]

#### Remove the range of items
Use `del` keyword along with list slicing to remove the range of items

In [70]:
list1 = [2, 4, 6, 8, 10, 12,56,14]

# remove range of items
# remove item from index 3 to 6
del list1[3:6]
print(list1)

[2, 4, 6, 56, 14]

#### Remove all items
Use the list `clear()` method to remove all items from the list. The `clear()` method truncates the list.

In [75]:
list1 = [2, 4, 6, 8, 10, 12]
#list1.clear()
list1 = []
print(list1)

[]

In [76]:
list1 = [2, 4, 6, 8, 10, 12]
del list1
# print(list1)

#### Finding an element in the list
Use the `index()` function to find an index of an item in a list.

The `index()` function will accept the value of the element as a parameter and returns the first occurrence of the element or returns `ValueError` if the element does not exist.

In [ ]:
list1 = [2, 4, 6, 8, 10, 12]
print(list1.index(6))
#print(list1[6])

In [ ]:
# returns error since the element does not exist in the list.
list1.index(100)

In [ ]:
x

#### Check if item exists in the list

Check if a list contains a value using the `in` keyword:

In [ ]:
7 in x

The keyword not can be used to negate in:

In [ ]:
7 not in x

#### List  Methods and functions

| Method |   Action   |
|:---|:---|
|   len(x) | Returns the number of items in x   |
|   x.index(i) | Returns the index of items in x   |
|   min(x) | Returns the minimum value in x     |
|   max(x) | Returns the maximum of items in x   |
|   x.append(x1) | will append x1 to the end of x     |
|   x.extend(x1) | will extend the list x by appending all the elements i list x1, x1 has to be a list  |
|   x.insert(i,x1) | will insert item x1 at index i    |
|   x.count(i) | Returns frequency of occurence of i  |
|   x.remove(i)| Will remove the first i from x  will raise ValueError ifnthere is no i      |
|   x.pop([i]) | will remove and return the item at index i.  |
|   del x[a:b] | This method deletes all the elements in range starting from index ‘a’ till ‘b’ mentioned in arguments.    |
|   x.sort() | Will sort the items in A in-place   |
|   x.reverse() | Reverse the order of the list in place   |
|   all(list1) | True if all items in the list have a True value  |
|   any(list1) | True if one item in the list have a True value  |


*Note: Make sure to understand the difference between append and extend methods.*

**Note:** make sure to understand the difference between pop, del and remove 

Let us consider some examples to illustrate these methods and functions

In [ ]:
A = [4,7, 5,3]
print('number of elements is:', len(A))

In [ ]:
A.index(7)

In [ ]:
list1 = ['physics', 'Biology', 'chemistry', 'maths']
list1.reverse()
print ("list now : ", list1)

In [ ]:
list1 = ['physics', 'Biology', 'chemistry', 'maths']
list1[::-1]

In [ ]:
A = [4, 7, 5]
print('the max and min are: ', max(A), min(A))

In [ ]:
A.clear()
print(A)

In [ ]:
## Sorting: can sort a list in-place (without creating a new object) 
# by calling its sort function
A = [1, 5, 4, 7, 3]
#A.sort()
A.sort(reverse = True)
A

In [ ]:
listx = [[-5, 7], [-8, 9]]
#listx = [[-5, 7], -5]
listx.sort()
print(listx)

In [ ]:
listy = [[5, 7], [5,4]]
#listy.sort()
listy.sort(reverse = True)
print(listy)

In [ ]:
listy[1]

sort has a few options that will occasionally come in handy. One is the ability to pass a secondary sort key—that is, a function that produces a value to use to sort the objects. For example, we could sort a collection of strings by their lengths:

In [ ]:
b = ['john', 'jenny', 'mo', 'richard', 'six']
b.sort()
b

In [ ]:
b = ['john', 'jenny', 'mo', 'richard', 'six']
b.sort(key=len)
b

In [ ]:
len(b[3])

#### Concatenation of two lists

The concatenation of two lists means merging of two lists. There are two ways to do that.

- Using the `+` operator.

- Using the `extend()` method. The `extend()` method appends the new list’s items at the end of the calling list.

In [ ]:
list1 = [-10, -9]
list2 = [9, 10]

# Using + operator
list3 = list1 + list2
print(list3)

# using extend method
list1.extend(list2)
print(list1)

#### Copy a List
one cannot copy a list simply by typing list_new = list1, because: list_new will only be a reference to list1, and changes made in list1 will automatically also be made in list_new.

In [ ]:
list1 = [1,2,3]
list_new = list1
print(list_new)

# making changes in the original list
list1.append(4)

# print both lists

print(list1)

print(list_new)

As seen in the above example a copy of the list has been created. The changes made to the original list are reflected in the copied list as well.

Note: When you set list1 = list2, you are making them refer to the same list object, so when you modify one of them, all references associated with that object reflect the current state of the object. So don’t use the assignment operator to copy the dictionary instead use the copy() method.

In [ ]:
list1 = [1,2,3]
list_new = list1.copy()
print(list_new)

# making changes in the original list
list1.append(4)

# print both lists

print(list1)

print(list_new)

#### zip
zip “pairs” up the elements of a number of lists, tuples, or other sequences to create a list of tuples:

In [ ]:
x1 = ['foo', 'bar', 'baz', 'ron', 'jack']
x2 = ['one', 'two', 'three', 'four', 'five']
x1x2 = zip(x1, x2)
listx1x2 = list(x1x2)
print(listx1x2)
#print(tuple(x1x2))

In [ ]:
x1 = ['ron','john','james','johnny']
x2 = [300,350,360,400]
#x1 = [30,40,50,70]
x1x2 = zip(x1, x2)
print(list(x1x2))

A very common use of zip is simultaneously iterating over multiple sequences, possi‐
bly also combined with enumerate:

In [ ]:
for i, (a, b) in enumerate(zip(x1, x2)):
    #print('{0}: {1}, {2}'.format(i, a, b))
    print(i,a,b)

In [ ]:
for i, (a, b) in enumerate(zip(x1, x2)):
    print('{2}: {0}, {1}'.format(i, a, b))

### List comprehension

In Python, list comprehension provide an efficient and elegant way to create lists from a list or other iterable object. It is faster comparable to looping through each element in the list. It also provides a very succinct syntax making the code more readable. it can also prevent modifying the existing list in the process of creating a new list and hence makes the code "functional". 

List comprehension uses a square bracket with an expression followed by for loop with an optional if statement
lst2 = [x for a in iterable if statement]

In [ ]:
# square every element in a list and make another list
list1 = [-9, 2, 5]     # output [ 81 4 25]
list2 = []
for x in list1:
    #print(x)
    #print(list2)
    list2.append(x*x)
    print(list2)

#print(list2)

In [ ]:
list1 = [-9, 2, 5]
list2 = [x*x for x in list1]
print(list2)

A list comprehension can optionally contain more for or if statements. An optional if statement can filter out items for the new list. Here are some examples.

In [ ]:
list1 = [10, 15, 18, 20]
list2 = []
for a in list1:
    if(a%2 ==0):
        list2.append(a)

print(list2)

In [ ]:
# list comprehension to filter elements from the input list. 
list1 = [10, 15, 18, 20]
list2 = [a for a in list1 if a %2 == 0]
print(list2)

In [ ]:
# Nested list

x=[[1,2],[6,7]]
print((x[0]))

In [ ]:
# Access 2
x[0][1]

In [ ]:
'''
Practice Problem

Given a list check if all the values are True
['','','1']
'''


all(['','','1'])

In [ ]:
'''
Practice Problem

Given a list check if any of the  the values are True
['','','1']
'''
any(['','','1'])

In [ ]:
'''
Practice exercise

extract 3 and 5
'''
a=[[[1,2],[3,4],5],[6,7]]
print(a)
print(len(a))

In [ ]:
# want to fetch 4

In [ ]:
# Want to fetch 5

In [ ]:
# Want to fetch 4
a

#### How to Convert a list to string

use str.join()

In [ ]:
listOfwords = ["This" , "is", "a", "python", "for", "data analysis", "course"]
print(type(listOfwords))
print(listOfwords)

In [ ]:
'''
Convert list of string to a string with whitespace as seperator
'''
# Join all the strings in list
list_str = ','.join(listOfwords)
print((list_str))

In [ ]:
# Let us try another separator, ':'

# Join all the strings in list
list_str = '!'.join(listOfwords)
print(list_str)

In [ ]:
# list comprehension and mix list 
listOfwords = ["This" , "is", "a", "python", "for", "data analysis", "course", 404, 20]
list_str_mix = ','.join([str(elem) for elem in listOfwords ])
print(list_str_mix)

In this notebook on Python Lists, we investigated various facts related to list. we looked at how to declare and access a list. That included slicing lists in python. Then we looked at how to delete and reassign elements or an entire list. Next, we learned about multidimensional lists and comprehension. We saw how to iterate on python lists, concatenate them, and also the operations that you can perform on them. Lastly, we looked at some built-in functions and methods that you can call on lists.

#### Two-dimensional lists

In [ ]:
TwoD_lists = [[0]*5]*3
print(TwoD_lists)

In [ ]:
print ([a+b for a in 'mug' for b in 'lid'])

#Output: 
#[‘ml’, ‘mi’, ‘md’, ‘ul’, ‘ui’, ‘ud’, ‘gl’, ‘gi’, ‘gd’]

In [ ]:
list_fruit = ["Apple","Mango","Banana","Avocado"]
first_letters = [ fruits[0] for fruits in list_fruit ]
print(first_letters)
# Output: 
# [‘A’, ‘M’, ‘B’, ‘A’]

#### Remove duplicates from lists in python

In [ ]:
mylist = ["a", "b", "c", "d", "c"]
mylist = list(dict.fromkeys(mylist))
print(mylist)

In [ ]:
### Sorting in the descending order
list1 = [1,4,5,3,2]
list1.sort(reverse = True)
print(list1)

### Tuple

Tuple is another sequence. Unlike lists, tuples are immutable. So the elements of a tuple cannot be modified after they have been created. Tuple has the following characteristics 

- **Ordered**: Tuples are part of sequence data types, which means they hold the order of the data insertion. It maintains the index value for each item.
- **Unchangeable**: Tuples are unchangeable, which means that we cannot add or delete items to the tuple after creation.
- **Heterogeneous**: Tuples are a sequence of data of different data types (like integer, float, list, string, etc;) and can be accessed through indexing and slicing.
- **Contains Duplicates**: Tuples can contain duplicates, which means they can have items with the same value.

#### Creating a Tuple
We can create a tuple using the two ways

1. **Using parenthesis ()**: A tuple is created by enclosing comma-separated items inside rounded brackets.
2. Using a `tuple()` constructor: Create a tuple by passing the comma-separated items inside the `tuple()`.

#### Syntax: 
A tuple starts with an open parenthesis, ( and ends with a closed parenthesis ). Elements in a tuple are separated by comma.

**Note:** there is a comma at the end also. It is customary to put a comma after the last element. This will be especially useful when we have only one element in a tuple. Why? In the following example, we follow the tuple syntax and created a tuple with only one element. When we printed the type, notice the type is 'str' and not tuple. 

By adding a comma at the end, we are indicating to the Python interpreter that we want the object to be treated as a tuple with one element. However it is optional when there is more than one element. Still it is customary to add comma at the end to all tuples.

In [1]:
tuple1 = (1, 2, 3)
print(tuple1)
print(type(tuple1))

(1, 2, 3)
<class 'tuple'>

In [2]:
# mixed type tuple
sample_tuple = ('John', 30, 45.75, [25, 78])
print(sample_tuple)

('John', 30, 45.75, [25, 78])

#### Create a tuple with a single item
A single item tuple is created by enclosing one item inside parentheses followed by a comma. If the tuple time is a string enclosed within parentheses and not followed by a comma, Python treats it as a `str` type. Let us see this with an example.

In [3]:
tuple1 = 1
tuple2 = (1)
print(type(tuple1))
print(type(tuple2))

<class 'int'>
<class 'int'>

In [4]:
tuple1 = (1,)
print(tuple1, type(tuple1))

(1,) <class 'tuple'>

For writing tuple for a single value, you need to include a comma, even though there is a single value. Also at the end you need to write semicolon as shown below.

In [5]:
tuple1 = ('one',)
print(tuple1, type(tuple1))

('one',) <class 'tuple'>

To create an empty tuple, you need to write as two parentheses containing nothing:

tup = ()

You can convert any sequence or iterator to a tuple by invoking tuple:

In [6]:
x = [1,2,3]
x1 = tuple(x)
print(type(x1))

<class 'tuple'>

In [7]:
print(x)

[1, 2, 3]

In [8]:
x1

(1, 2, 3)

#### The tuple() Constructor
It is also possible to use the tuple() constructor to make a tuple.

In [ ]:
x = tuple([1,2,3])
x

#### Packing and Unpacking
A tuple can also be created without using a `tuple()` constructor or enclosing the items inside the parentheses. It is called the variable “Packing.”

We can create a tuple by packing a group of variables. Packing can be used when we want to collect multiple values in a single variable. Generally, this operation is referred to as tuple packing.

Similarly, we can unpack the items by just assigning the tuple items to the same number of variables. This process is called “Unpacking.”

In [9]:
x = "UCSC", 20, "Education"
print(x)

print(type(x))

('UCSC', 20, 'Education')
<class 'tuple'>

In [10]:
# tuple unpacking
(company, emp, profile) = x    # tuple unpacking
print(company)
print(emp)
print(profile)

UCSC
20
Education

In [11]:
# Even sequences with nested tuples can be unpacked:
tup=4,5,(6,7)
print(tup)
a,b,(c,d)=tup
d

(4, 5, (6, 7))

7

In [12]:
# Swap 
a,b=1,2

In [13]:
b,a = a,b
a

2

A common use of variable unpacking is iterating over sequences of tuples or lists:

In [14]:
seq=[("UCSC", 20, "Education_SC"),("UCB", 20, "Education_UCB"),("NOE", 30, "Education_NOE")]

In [16]:
for name,employee,profile in seq:
    print('name={0}, profile={2}, employee={1}'.format(name, employee, profile))

name=UCSC, profile=Education_SC, employee=20
name=UCB, profile=Education_UCB, employee=20
name=NOE, profile=Education_NOE, employee=30

#### Loop Through a Tuple
You can loop through the tuple items by using a for loop.

In [20]:
x = (10,20,30,40)
for i in x:
    #print(i)
    print(i, end = ' ')

10 20 30 40

In [19]:

print?

In [ ]:
"""
Practice problem 
"""
x = (10,20,30,40)
for i in x:
  print(i, end = " ")

### Accessing/Slicing of Tuple

Tuple can be accessed through indexing and slicing. This section will guide you by accessing tuple using the following two ways

- **Using indexing**, we can access any item from a tuple using its index number

- **Using slicing**, we can access a range of items from a tuple

#### Indexing
A tuple is an ordered sequence of items, which means they hold the order of the data insertion. It maintains the index value for each item.

We can access an item of a tuple by using its index number inside the index operator [ ] and this process is called **“Indexing”**.

In [21]:
tuple1 = ('P', 'Y', 'T', 'H', 'O', 'N')
#for i in range(len(tuple1)):
for i in tuple1:
    print(i)
  #  print(tuple1[i])

P
Y
T
H
O
N

**Note**: If we mention the index value greater than the length of a tuple then it will throw an index error.

In [22]:
print(tuple1[8])

IndexError: tuple index out of range

#### Range of Indexes
One can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new tuple with the specified items.

**NOTE** The search wil start at start index and end at stop index (not included)

In [23]:
# Example return the second, third and fourth item

tuple1 = (10, 20, 30, 40, 50, 60, 70)
print(tuple1[1:4])

(20, 30, 40)

Also, if you mention any index value other than integer then it will throw Type Error.

In [24]:
tuple1[3.0]

TypeError: tuple indices must be integers or slices, not float

#### Negative Indexing

Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item etc.

In [ ]:
x[-1]

In [26]:
tuple1 = ('P', 'Y', 'T', 'H', 'O', 'N')

# print last item of a tuple
print(tuple1[-1])  # N
# print second last
print(tuple1[-2])  # O

N
O

In [27]:
# iterate a tuple using negative indexing
for i in range(-6, 0):
    print(tuple1[i], end=",")  

# Output P, Y, T, H, O, N,

P,Y,T,H,O,N,

#### Range of Negative Indexes
Specify negative indexes if you want to start the search from the end of the tuple:

In [28]:
tuple1 = (10, 20, 30, 40, 50, 60, 70)
print(tuple1[-4:-1])

(40, 50, 60)

#### Find the index of an element in tuple using index()

Sometimes just checking if an element exists in tuple is not sufficient, we want to find it’s position of first occurrence in tuple. Tuple provides a member function `index()` i.e.

`tuple.index(x)`

It returns the index for first occurrence of x in the tuple

In [29]:
tuple1 = (12 , 34, 45, 22, 33 , 67, 34, 56 )

indx = tuple1.index(12)
print("Element 12 Found at : " , indx)

Element 12 Found at :  0

#### Find within a range
We can mention the start and end values for the `index()` method so that our search will be limited to those values.

In [31]:
tuple1 = (10, 20, 30, 40, 50, 60, 70, 80)
# Limit the search locations using start and end
# search only from location 4 to 6
# start = 4 and end = 6
# get index of item 60
#position = tuple1.index(60, 4, 6)
position = tuple1.index(60, 1, 4)
print(position)

ValueError: tuple.index(x): x not in tuple

#### Checking if an item exists
We can check whether an item exists in a tuple by using the in operator. This will return a boolean True if the item exists and False if it doesn’t.

In [ ]:
20 in tuple1

In [ ]:
x

In [ ]:
'''
Check if 20 is present in the tuple

'''
x1 = [30,40,50]

for i in x1:
    if i in x:
        print("Yes, number is in x")
    else:
        print("No, number is not present")

In [ ]:
x2 = [10,30,40]
for i in x2:
    if i>=20:
        print("Yes, number is in x")
        break
    else:
        print("No, number is not present")

#### Add Items
Once a tuple is created, you cannot add items to it. Tuples are unchangeable.

Example

In [32]:
tuple1

(10, 20, 30, 40, 50, 60, 70, 80)

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [33]:
tuple1[3] = 30

TypeError: 'tuple' object does not support item assignment

In [34]:
print(tuple2)

1

In [36]:
tuple2 = (10, 20, 30, 40, 50, 60, 70, 80)
tuple2 = list(tuple2)
print(tuple2)
print(type(tuple2))
tuple2.append(30)
print(tuple2)
tuple2.insert(2,11)
tuple2 = tuple(tuple2)
print(tuple2)
print(type(tuple2))

[10, 20, 30, 40, 50, 60, 70, 80]
<class 'list'>
[10, 20, 30, 40, 50, 60, 70, 80, 30]
(10, 20, 11, 30, 40, 50, 60, 70, 80, 30)
<class 'tuple'>

#### Change Tuple Values

Since tuples are immutable, we cannot alter elements in a tuple after the tuple 
is defined.

In [ ]:
tuple2 = (13, 19, 25,) 
print(tuple2[0]) # accessing the first element in tuple2
print(tuple2[1]) # accessing the second element in tuple2

In [ ]:
tuple2[1] = 29

#### Remove Items
Note: You cannot remove items in a tuple.

 Tuples are unchangeable, so you cannot remove items from it, but you can delete the tuple completely:

Example

In [37]:
tuple1 = (1,2,3,4)
del tuple1
print(tuple1) #this will raise an error because the tuple no longer exists

NameError: name 'tuple1' is not defined

In [38]:
x = (10,20,30,40,50)
y = list(x)
y[1] = 60
x = tuple(y)
print(x)

(10, 60, 30, 40, 50)

#### Tuple : Append , Insert , Modify & delete elements in Tuple

tuples are immutable i.e. once created we can not change its contents.  But sometimes we want to modify the existing tuple, in that case we need to create a new tuple with updated elements only from the existing tuple.

In [39]:
# Append an element in Tuple at end

# Create a tuple
tupleObj = (121, 314, 245, 232, 334 )

'''Now to append an element in this tuple, we need to create a copy of
existing tuple and then add new element to it using + operator i.e.
'''
# Append 19 at the end of tuple
tupleObj = tupleObj + (191,)
tupleObj

(121, 314, 245, 232, 334, 191)

### Insert an element at specific position in tuple

As indexing starts from 0 in tuple, so to insert an element at index n in this tuple, we will create two sliced copies of existing tuple from (0 to n) and (n to end) i.e.

In [40]:
tupleObj

(121, 314, 245, 232, 334, 191)

In [41]:
#### Insert an element at specific position in tuple

'''As indexing starts from 0 in tuple, so to insert an element at index n in 
this tuple, we will create two sliced copies of existing tuple from (0 to n) and 
(n to end)
(121,314,181, 191,245,232,334,191)
(121, 314, 245, 232, 334, 191)
'''
n = 3
# Insert 19 in tuple at index 5
tupleObj = tupleObj[ : n ] + (191 ,) + tupleObj[n : ]
#tupleObj = tupleObj[ : 2 ] + (191 ,) + tupleObj[2 : ]
tupleObj

(121, 314, 245, 191, 232, 334, 191)

#### Add Items
Once a tuple is created, you cannot add items to it. Tuples are unchangeable.

Example

In [ ]:
tuple1

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [ ]:
tuple1[3] = 30

In [ ]:
[13,19,25]; [13,19,25,30];(13,19,11,25,30)

In [ ]:
tuple1 = (13,19,25)
tuple1 = list(tuple1)
print(tuple1)
print(type(tuple1))
tuple1.append(30)
print(tuple1)
tuple1.insert(2,11)
tuple1 = tuple(tuple1)
print(tuple1)
print(type(tuple1))

In [ ]:
#### Insert an element at specific position in tuple

'''As indexing starts from 0 in tuple, so to insert an element at index n in 
this tuple, we will create two sliced copies of existing tuple from (0 to n) and 
(n to end)


Input = (121,314,245, 181,232,334)
Output = (121,314,245, 191,181,232,334)
'''
tupleObj = (121, 314, 245, 181,232, 334 )
n = 3
# Insert 191 in tuple at index 3
tupleObj = tupleObj[ : n ] + (191 ,) + tupleObj[n : ]
#tupleObj = tupleObj[ : 2 ] + (191 ,) + tupleObj[2 : ]
tupleObj

#### Count the occurrence of an item in a tuple
As we learned, a tuple can contain duplicate items. To determine how many times a specific item occurred in a tuple, we can use the `count()` method of a tuple object.

The `count()` method accepts any value as a parameter and returns the number of times a particular value appears in a tuple.

In [42]:
tuple1 = (10, 20, 60, 30, 60, 40, 60)
# Count all occurrences of item 60
count = tuple1.count(60)
print(count)

3

#### Concatenating two Tuples
We can concatenate two or more tuples in different ways. One thing to note here is that tuples allow duplicates, so if two tuples have the same item, it will be repeated twice in the resultant tuple. Let us see each one of them with a small example.

#### Using the + operator
We can add two tuples using the + operator. This is a very and straightforward method and the resultant tuple will have items from both the tuples.

In [43]:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (3, 4, 5, 6, 7)

# concatenate tuples using + operator
tuple3 = tuple1 + tuple2
print(tuple3)
# Output (1, 2, 3, 4, 5, 3, 4, 5, 6, 7)

(1, 2, 3, 4, 5, 3, 4, 5, 6, 7)

#### Using the sum() function
We can also use the Python built-in function sum to concatenate two tuples. But the sum function of two iterables like tuples always needs to start with Empty Tuple. Let us see this with an example.

In [44]:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (3, 4, 5, 6, 7)

# using sum function
tuple3 = sum((tuple1, tuple2), ())
print(tuple3)

(1, 2, 3, 4, 5, 3, 4, 5, 6, 7)

#### Using the chain() function
The `chain()` function is part of the itertools module in python. It makes an iterator, which will return all the first iterable items (a tuple in our case), which will be followed by the second iterable. We can pass any number of tuples to the chain() function.

In [45]:
import itertools

tuple1 = (1, 2, 3, 4, 5)
tuple2 = (3, 4, 5, 6, 7)

# using itertools
tuple3 = tuple(item for item in itertools.chain(tuple1, tuple2))
print(tuple3)

(1, 2, 3, 4, 5, 3, 4, 5, 6, 7)

#### Nested tuples
Nested tuples are tuples within a tuple i.e., when a tuple contains another tuple as its member then it is called a nested tuple.

In order to retrieve the items of the inner tuple we need a nested for loop

In [46]:
nested_tuple = ((20, 40, 60), (10, 30, 50), "Python")

# access the first item of the third tuple
print(nested_tuple[2][0])  # P

# iterate a nested tuple
for i in nested_tuple:
    print("tuple", i, "elements")
    for j in i:
        print(j, end=", ")
    print("\n")

P
tuple (20, 40, 60) elements
20, 40, 60,

tuple (10, 30, 50) elements
10, 30, 50,

tuple Python elements
P, y, t, h, o, n,

### Comparing tuples
A comparison operator in Python can work with tuples.

The comparison starts with a first element of each tuple. If they do not compare to =,< or > then it proceed to the second element and so on.

It starts with comparing the first element from each of the tuples

In [47]:
# Case 1

a=(5,6)
b=(1,4)
if (a>b):print("a is bigger")
else: print("b is bigger")

a is bigger

Comparison starts with a first element of each tuple. In this case 5>1, so the output a is bigger

In [48]:
# Case 2
a=(5,6)
b=(5,4)
if (a>b):print("a is bigger")
else: print ("b is bigger")

a is bigger

Comparison starts with a first element of each tuple. In this case 5>5 which is inconclusive. So it proceeds to the next element. 6>4, so the output a is bigger

In [ ]:
# Case 3
a=(5,6)
b=(6,4)
if (a>b):print("a is bigger")
else: print("b is bigger")

Comparison starts with a first element of each tuple. In this case 5>6 which is false. So it goes into the else block and prints "b is bigger.

### Built-in functions with Tuple
To perform different task, tuple allows you to use many built-in functions like all(), any(), enumerate(), max(), min(), sorted(), len(), tuple(), etc.

In [ ]:
tuple2 = (1,2,3,4,5,7)

In [ ]:
for t in tuple2:
    print(t)

In [ ]:
''' quite a few of list methods and functions can be used for tuple also. '''

print(len(tuple2))

In [ ]:
print(min(tuple2))
print(max(tuple2))

In [ ]:
t1 = ('the good', 'the bad', 'the ugly',)
t2 = ('Clint Eastwood',)
t3 = (t1, t2)
print(t3)

In [ ]:
t1 = ('the good', 'the bad', 'the ugly')
t2 = ('Clint Eastwood',)
t5 = t1 + t2
print(t5)

In [ ]:
t6 = ('Good morning',)
print(t6*3)

In [ ]:
print('there' in t1)

In [ ]:
tuple_to_list = list(t5)
print(tuple_to_list, type(tuple_to_list))

In [ ]:
list_ratings = ['bad', 'okay', 'excellent']
list_to_tuple = tuple(list_ratings)
print(list_to_tuple, type(list_to_tuple))

In [ ]:
t1 = (3, 4, 67)
print(id(t1))
t1 = 6
t2 = (1, 2, 423)
print(id(t2))

#### Advantages of Tuple over List
Since tuples are quite similar to lists, both of them are used in similar situations as well.
However, there are certain advantages of implementing a tuple over a list. Below listed are some of the main advantages:

- We generally use tuple for heterogeneous (different) datatypes and list for homogeneous (similar) datatypes.

- Since tuples are immutable, iterating through tuple is faster than with list. So there is a slight performance boost.

- Tuples that contain immutable elements can be used as a key for a dictionary. With lists, this is not possible.

- If you have data that doesn't change, implementing it as tuple will guarantee that it remains write-protected.

- There is another Python data type that you will discuss shortly called a dictionary, which requires as one of its components a value that is of an immutable type. A tuple can be used for this purpose, whereas a list can’t be.

#### When to use Tuple?
As tuples and lists are similar data structures, and they both allow sequential data storage, tuples are often referred to as immutable lists. So the tuples are used for the following requirements instead of lists.

- There are no append() or extend() to add items and similarly no remove() or pop() methods to remove items. This ensures that the data is write-protected. As the tuples are Unchangeable, they can be used to represent read-only or fixed data that does not change.
- As they are immutable, they can be used as a key for the dictionaries, while lists cannot be used for this purpose.
- As they are immutable, the search operation is much faster than the lists. This is because the id of the items remains constant.
- Tuples contain heterogeneous (all types) data that offers huge flexibility in data that contains combinations of data types like alphanumeric characters.