In [ ]:
# Name: Xijing Zhang
# Title: Assignment2.ipynb
# Description: Assignment2
# Date: Nov/01/2023

In [7]:
'''
Q1. Assign b with the value 20 and c with the value 3.14. Print the values of b and c 
and their respective data types. Then, type cast b to float and c to int. 
Finally, print the updated values of b and c along with their new data types.
'''
b = 20
c = 3.14

# Print the values of b and c
print(b)
print(c)

# Print the data types of b and c
print(type(b))
print(type(c))

# type cast b to float and c to int
b = float(b)
c = int(c)

# Print the values of b and c
print(b)
print(c)

# Print the data types of b and c
print(type(b))
print(type(c))

20
3.14
<class 'int'>
<class 'float'>
20.0
3
<class 'float'>
<class 'int'>

In [9]:
'''
Q2. Access value 30 from the below tuple
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
'''

tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
value = tuple1[1][2]
print(value)

30

In [10]:
'''
Q3. Write a program to copy elements 44 and 55 from the following tuple into a new tuple.
tuple1 = (11, 22, 33, 44, 55, 66)
'''

tuple1 = (11, 22, 33, 44, 55, 66)
new_tuple = (tuple1[3], tuple1[4])
print(new_tuple)

(44, 55)

In [15]:
'''
Q4. If A = 'I am learning' and B = 'Python'. Convert A into 
uppercase and B into lowercase and then concatenate them?
'''

A = 'I am learning'
B = 'Python'

# Convert A into uppercase
A = A.upper()

# Convert B into lowercase
B = B.lower()

# Concatenate A and B
concatenate = A + ' ' + B
print(concatenate)

I AM LEARNING python

In [18]:
'''
Q5. Write a Python program which accepts the user's first 
and last name and print them in reverse order with a space between them
'''
# Accept the user's first and last names as input
firstName = input("Enter your first name: ")
lastName = input("Enter your last name: ")

# Reverse the order and print
print("Full Name in Reverse Order:", lastName + ' ' + firstName)

Enter your first name: Xijing
Enter your last name: Zhang
Full Name in Reverse Order: Zhang Xijing

In [44]:
'''
Q6. If a = 'California' and b = 'california', check if a equals b. 
If not can you make it equal in two ways
'''

a = 'California'
b = 'california'


if a == b:
    print("a equals b")
elif a.lower() == b.lower():
    print("a equals b by way1")
elif a.casefold() == b.casefold():
    print("a equals b by way2")
elif a.capitalize() == b.capitalize():
    print("a equals b by way3")
else:
    print("a is not equal to b")

a equals b by way1

In [48]:
''' 
Q7. Print characters from a string that are present at an even index number.

sample data: "DAMG6105"
output: DM60

Note: should only use slicing
'''

data = "DAMG6105"
output = data[::2]
print(output)

DM60

In [ ]:
'''
Q8. Slice the below list into 3 equal parts, reverse each part and print it as 3 separate list.
input = [11, 45, 8, 23, 14, 12, 78, 45, 89]

Note: should only use slicing
'''

In [ ]:
'''
Q9. Write a program to remove the item present at index 3 and add it to the 2nd position and at the end of the list.

sample_input = [54, 44, 27, 79, 91, 41]
sample output = [54, 44, 79, 27, 91, 41, 79]
'''

In [ ]:
'''
Q10. Write a Python program which accepts a sequence of comma-separated numbers from user and
generate a list and a tuple with those numbers.

Sample data : 8, 24, 65, 3
Output :
List : ['8', '24', '65', '3']
Tuple : ('8', '24', '65', '3')
'''