In [61]:
# Variables
x = 5
y = "John"
print(x)
print(y)

x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

5
John

List is a collection which is ordered and changeable. Allows duplicate members.

Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

Dictionary is a collection which is ordered** and changeable. No duplicate members.

Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.

In [129]:
# List
# Create List way 1
list1 = ['apricot', 'banana', 'grapes', 'kiwi', 'orange', 'strawberry']
print(Fruits)

# Create List way 2
list2 = list((1,2,3,4))
print(list2)

# Access List Items
print(list1[1])
print(list1[-1])

# List SlicingÂ¶
print(list1[2:5])
print(list1[:4])
print(list1[-4:-1])
if "apricot" in list1:
    print("Yes, 'apricot' is in the fruits list")
print(list1[::2])  # every element at the even location.
print(list1[1::2]) # every element at the odd location.

# Change List Items
list1[1] = "blackcurrant"
list1[1:2] = ["blackcurrant", "watermelon"]

['apricot', 'banana', 'grapes', 'kiwi', 'orange', 'strawberry']
[1, 2, 3, 4]
banana
strawberry
['grapes', 'kiwi', 'orange']
['apricot', 'banana', 'grapes', 'kiwi']
['grapes', 'kiwi', 'orange']
Yes, 'apricot' is in the fruits list
['apricot', 'grapes', 'orange']
['banana', 'kiwi', 'strawberry']

In [105]:
# Add List Items
list1.append("orange") # Append in the end 
list1.extend(["apple","mango"]) # Extend in the end 
list1.insert(2, "watermelon") # Insert to the postion 2
print(list1)

['apricot', 'blackcurrant', 'watermelon', 'watermelon', 'grapes', 'kiwi', 'orange', 'strawberry', 'orange', 'apple', 'mango']

In [106]:
# Remove List Items
popped_element = list1.pop(1) # Removes the element at index 1 and assigns it to popped_element
print(popped_element)
print(list1)
popped_element = list1.pop() # Removes the last element and assigns it to popped_element
print(popped_element)
print(list1)

list1.remove('watermelon') # Remove the first occurrence of the item from the list
print(list1)

del list1[0:1]
print(list1)

list1.clear()
print(list1)

# Delete the list completely
# del thislist

blackcurrant
['apricot', 'watermelon', 'watermelon', 'grapes', 'kiwi', 'orange', 'strawberry', 'orange', 'apple', 'mango']
mango
['apricot', 'watermelon', 'watermelon', 'grapes', 'kiwi', 'orange', 'strawberry', 'orange', 'apple']
['apricot', 'watermelon', 'grapes', 'kiwi', 'orange', 'strawberry', 'orange', 'apple']
['watermelon', 'grapes', 'kiwi', 'orange', 'strawberry', 'orange', 'apple']
[]

In [89]:
# Loop Lists
list1 = ["apple", "banana", "cherry"]

for x in list1:
    print(x)

for i in range(len(list1)):
    print(list1[i])

for i in range(0, 3): # range(len(list1)) = range(0, 3)
    print(list1[i])
    
for i in range(3): # range(3) = range(0, 3)
    print(list1[i])
    
# List Comprehension
newlist = []
for x in list1:
    if "a" in x:
        newlist.append(x)
print(newlist)

# Sort Lists
list2 = [100, 50, 65, 82, 23]
list2.sort()
print(list2)

apple
banana
cherry
apple
banana
cherry
apple
banana
cherry
apple
banana
cherry
['apple', 'banana']
[23, 50, 65, 82, 100]
[100, 82, 65, 50, 23]

In [116]:
# change value of all items
x = [7, 2, 3, 5, 6, 0, 1]

for i in range(len(x)):
    # calculate square of each number
    square = x[i] * x[i]
    x[i] = square

print(x)

# Reverse
print(x[::-1])

x.sort(reverse = True)
print(x)

x.reverse()
print(x)

[49, 4, 9, 25, 36, 0, 1]
[1, 0, 36, 25, 9, 4, 49]
[49, 36, 25, 9, 4, 1, 0]
[0, 1, 4, 9, 25, 36, 49]

In [117]:
# zip
x1 = ['foo', 'bar', 'baz', 'ron', 'jack']
x2 = ['one', 'two', 'three', 'four', 'five']
x1x2 = zip(x1, x2)
listx1x2 = list(x1x2)
print(listx1x2)
# print(tuple(x1x2))

[('foo', 'one'), ('bar', 'two'), ('baz', 'three'), ('ron', 'four'), ('jack', 'five')]

In [119]:
# list comprehension
list1 = [-9, 2, 5]     # output [ 81 4 25]
list2 = []
for x in list1:
    list2.append(x*x)
    print(list2)
    
list3 = [x*x for x in list1]
print(list3)

[81]
[81, 4]
[81, 4, 25]
[81, 4, 25]

In [120]:
# Convert a list to string
listOfwords = ["This" , "is", "a", "python", "for", "data analysis", "course"]
print(type(listOfwords))
print(listOfwords)
list_str = ' '.join(listOfwords)
print((list_str))

<class 'list'>
['This', 'is', 'a', 'python', 'for', 'data analysis', 'course']
This is a python for data analysis course

In [131]:
# Tuples
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

# Packing and Unpacking
x = "UCSC", 20, "Education"
print(x)

print(type(x))

# tuple unpacking
(company, emp, profile) = x    # tuple unpacking
print(company)
print(emp)
print(profile)

banana
('UCSC', 20, 'Education')
<class 'tuple'>
UCSC
20
Education

In [123]:
# Add Tuple Items
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [124]:
# Remove Tuple Items
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [126]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [127]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2
print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [133]:
# format()
name = "Alice"
age = 30
message = "My name is {} and I am {} years old.".format(name, age)
print(message)

My name is Alice and I am 30 years old.

In [151]:
# Dictionaries
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

# Access Items way 1
x = thisdict.get("model")
print(x)

# Access Items way 2
y = thisdict["brand"]
print(y)

# Get all key
print(thisdict.keys())

# Get all values
print(thisdict.values())


# Get all items
print(thisdict.items())

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Mustang
Ford
dict_keys(['brand', 'model', 'year'])
dict_values(['Ford', 'Mustang', 1964])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [154]:
# Add Items
thisdict["color"] = "white"
print(x) #after the change

# Check if Key Exists
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

# Change Dictionary Items

Mustang
Yes, 'model' is one of the keys in the thisdict dictionary

In [160]:
# Removing the item
del thisdict['color']
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [161]:
# Loop
for i in thisdict:
    print(i)
    print(thisdict[i])

brand
Ford
model
Mustang
year
1964

In [162]:
# Print the values
for i in thisdict:
    print(i, end='')
    print(":", thisdict.get(i))

brand: Ford
model: Mustang
year: 1964