In [61]:
# Variables
x = 5
y = "John"
print(x)
print(y)

x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

5
John

List is a collection which is ordered and changeable. Allows duplicate members.

Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

Dictionary is a collection which is ordered** and changeable. No duplicate members.

Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.

In [129]:
# List
# Create List way 1
list1 = ['apricot', 'banana', 'grapes', 'kiwi', 'orange', 'strawberry']
print(Fruits)

# Create List way 2
list2 = list((1,2,3,4))
print(list2)

# Access List Items
print(list1[1])
print(list1[-1])

# List SlicingÂ¶
print(list1[2:5])
print(list1[:4])
print(list1[-4:-1])
if "apricot" in list1:
    print("Yes, 'apricot' is in the fruits list")
print(list1[::2])  # every element at the even location.
print(list1[1::2]) # every element at the odd location.

# Change List Items
list1[1] = "blackcurrant"
list1[1:2] = ["blackcurrant", "watermelon"]

['apricot', 'banana', 'grapes', 'kiwi', 'orange', 'strawberry']
[1, 2, 3, 4]
banana
strawberry
['grapes', 'kiwi', 'orange']
['apricot', 'banana', 'grapes', 'kiwi']
['grapes', 'kiwi', 'orange']
Yes, 'apricot' is in the fruits list
['apricot', 'grapes', 'orange']
['banana', 'kiwi', 'strawberry']

In [105]:
# Add List Items
list1.append("orange") # Append in the end 
list1.extend(["apple","mango"]) # Extend in the end 
list1.insert(2, "watermelon") # Insert to the postion 2
print(list1)

['apricot', 'blackcurrant', 'watermelon', 'watermelon', 'grapes', 'kiwi', 'orange', 'strawberry', 'orange', 'apple', 'mango']

In [106]:
# Remove List Items
popped_element = list1.pop(1) # Removes the element at index 1 and assigns it to popped_element
print(popped_element)
print(list1)
popped_element = list1.pop() # Removes the last element and assigns it to popped_element
print(popped_element)
print(list1)

list1.remove('watermelon') # Remove the first occurrence of the item from the list
print(list1)

del list1[0:1]
print(list1)

list1.clear()
print(list1)

# Delete the list completely
# del thislist

blackcurrant
['apricot', 'watermelon', 'watermelon', 'grapes', 'kiwi', 'orange', 'strawberry', 'orange', 'apple', 'mango']
mango
['apricot', 'watermelon', 'watermelon', 'grapes', 'kiwi', 'orange', 'strawberry', 'orange', 'apple']
['apricot', 'watermelon', 'grapes', 'kiwi', 'orange', 'strawberry', 'orange', 'apple']
['watermelon', 'grapes', 'kiwi', 'orange', 'strawberry', 'orange', 'apple']
[]

In [89]:
# Loop Lists
list1 = ["apple", "banana", "cherry"]

for x in list1:
    print(x)

for i in range(len(list1)):
    print(list1[i])

for i in range(0, 3): # range(len(list1)) = range(0, 3)
    print(list1[i])
    
for i in range(3): # range(3) = range(0, 3)
    print(list1[i])
    
# List Comprehension
newlist = []
for x in list1:
    if "a" in x:
        newlist.append(x)
print(newlist)

# Sort Lists
list2 = [100, 50, 65, 82, 23]
list2.sort()
print(list2)

apple
banana
cherry
apple
banana
cherry
apple
banana
cherry
apple
banana
cherry
['apple', 'banana']
[23, 50, 65, 82, 100]
[100, 82, 65, 50, 23]

In [116]:
# change value of all items
x = [7, 2, 3, 5, 6, 0, 1]

for i in range(len(x)):
    # calculate square of each number
    square = x[i] * x[i]
    x[i] = square

print(x)

# Reverse
print(x[::-1])

x.sort(reverse = True)
print(x)

x.reverse()
print(x)

[49, 4, 9, 25, 36, 0, 1]
[1, 0, 36, 25, 9, 4, 49]
[49, 36, 25, 9, 4, 1, 0]
[0, 1, 4, 9, 25, 36, 49]

In [117]:
# zip
x1 = ['foo', 'bar', 'baz', 'ron', 'jack']
x2 = ['one', 'two', 'three', 'four', 'five']
x1x2 = zip(x1, x2)
listx1x2 = list(x1x2)
print(listx1x2)
# print(tuple(x1x2))

[('foo', 'one'), ('bar', 'two'), ('baz', 'three'), ('ron', 'four'), ('jack', 'five')]

In [119]:
# list comprehension
list1 = [-9, 2, 5]     # output [ 81 4 25]
list2 = []
for x in list1:
    list2.append(x*x)
    print(list2)
    
list3 = [x*x for x in list1]
print(list3)

[81]
[81, 4]
[81, 4, 25]
[81, 4, 25]

In [120]:
# Convert a list to string
listOfwords = ["This" , "is", "a", "python", "for", "data analysis", "course"]
print(type(listOfwords))
print(listOfwords)
list_str = ' '.join(listOfwords)
print((list_str))

<class 'list'>
['This', 'is', 'a', 'python', 'for', 'data analysis', 'course']
This is a python for data analysis course

In [131]:
# Tuples
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

# Packing and Unpacking
x = "UCSC", 20, "Education"
print(x)

print(type(x))

# tuple unpacking
(company, emp, profile) = x    # tuple unpacking
print(company)
print(emp)
print(profile)

banana
('UCSC', 20, 'Education')
<class 'tuple'>
UCSC
20
Education

In [123]:
# Add Tuple Items
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [124]:
# Remove Tuple Items
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [126]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [127]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2
print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [133]:
# format()
name = "Alice"
age = 30
message = "My name is {} and I am {} years old.".format(name, age)
print(message)

My name is Alice and I am 30 years old.

In [165]:
# Dictionaries
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

# Access Items way 1
x = thisdict.get("model")
print(x)

# Access Items way 2
y = thisdict["brand"]
print(y)

# Get all key
print(thisdict.keys())

# Get all values
print(thisdict.values())


# Get all items
print(thisdict.items())

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Mustang
Ford
dict_keys(['brand', 'model', 'year'])
dict_values(['Ford', 'Mustang', 1964])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [166]:
# Add Items
thisdict["color"] = "white"
print(x) #after the change

# Check if Key Exists
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

# Change Dictionary Items

Mustang
Yes, 'model' is one of the keys in the thisdict dictionary

In [167]:
# Removing the item
del thisdict['color']
print(thisdict)


thisdict.clear()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{}

In [168]:
# Loop
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for i in thisdict:
    print(i)
    print(thisdict[i])

brand
Ford
model
Mustang
year
1964

In [169]:
# Print the values
for i in thisdict:
    print(i, end='')
    print(":", thisdict.get(i))

brand: Ford
model: Mustang
year: 1964

In [173]:
# Nested Dictionaries
# address dictionary to store person address
address = {"state": "Texas", 'city': 'Houston'}

# dictionary to store person details with address as a nested dictionary
person = {'name': 'Jessa', 'company': 'Google', 'address': address}

# Display dictionary
print("person:", person)

# Iterating outer dictionary
print("Person details")
for key, value in person.items():
    if key == 'address':
        # Iterating through nested dictionary
        print("")
        print("Person Address")
        for nested_key, nested_value in value.items():
            print(nested_key, ':', nested_value)
    else:
        print(key, ':', value)

person: {'name': 'Jessa', 'company': 'Google', 'address': {'state': 'Texas', 'city': 'Houston'}}
Person details
name : Jessa
company : Google

Person Address
state : Texas
city : Houston

In [174]:
# Sets
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

# Access Items
for x in thisset:
  print(x)

{True, 2, 'banana', 'apple', 'cherry'}
True
2
banana
apple
cherry

In [175]:
# Add Items way 1
thisset.add("orange")

# Add Items way 2
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

# Remove Item
thisset.remove("banana")
print(thisset)
thisset.discard("mango")
print(thisset)

{'pineapple', 'banana', 'mango', 'papaya', 'apple', 'cherry'}
{'pineapple', 'mango', 'papaya', 'apple', 'cherry'}
{'pineapple', 'papaya', 'apple', 'cherry'}

In [177]:
# Join Two Sets
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{'b', 1, 2, 3, 'c', 'a'}

In [181]:
'''
Q3. There was a user who was bored with regular hello world program he wanted design as follows
write a program to achieve the objective

*
**
***
****

'''

for i in range(5):
    for j in range(i):
        print("*", end = "")
    print("")

*
**
***
****

In [186]:
'''
Q5 In order to enroll for the quiz the following details has to be  filled

Name
Age
School name
Phone number
GPA float
the following are the conditions
a) Name has to be string
b) Age has to be a number
c) School name has to be string
d) Phone number has to be number
e) GPA has to be float
write a program to achieve the same
'''

def get_name():
    name = input("Enter your name: ")
    return name

def get_age():
    while True:
        age = input("Enter your age: ")
        if age.isdigit(): # True if all the characters in the string are digits from 0 to 9
            return int(age)
        else:
            print("Invalid input. Age must be an integer number. Please enter your age again.")
            
def get_school_name():
    school_name = input("Enter your school name: ")
    return school_name

def get_phone_number():
    while True:
        phone_number = input("Enter your phone number: ")
        if phone_number.isdigit():
            return int(phone_number)
        else:
            print("Invalid input. Phone number must be a integer number. Please enter your phone number again.")

def get_gpa():
    while True:
        gpa = input("Enter your GPA: ")
        try:
            gpa = float(gpa)
            return gpa
        except ValueError:
            print("Invalid input. GPA must be a float. Please enter your GPA again.")

name = get_name()
age = get_age()
school_name = get_school_name()
phone_number = get_phone_number()
gpa = get_gpa()

# Enrollment information
print("\nEnrollment Successful! Here are your details:")
print(f"Name: {name}")
print(f"Age: {age}")
print(f"School Name: {school_name}")
print(f"Phone Number: {phone_number}")
print(f"GPA: {gpa}")

Enter your name: Xijing
Enter your age: 2
Enter your school name: neu
Enter your phone number: 22
Enter your GPA: 2

Enrollment Successful! Here are your details:
Name: Xijing
Age: 2
School Name: neu
Phone Number: 22
GPA: 2.0