In [16]:
# Variables
x = 5
y = "John"
print(x)
print(y)

x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

5
John

In [17]:
# Casting
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

In [20]:
# Operators
x = 15
y = 2
print(x / y)
print(x % y)
print(x ** y)
print(x // y)

7.5
1
225
7

In [64]:
# Lists
# lists can have items with the same value
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)
print(len(thislist))

list1 = ["abc", 34, True, 40, "male"]
print(list1[1])
print(list1[-1])
print(list1[2:5])
print(list1[:4])
print(list1[-4:-1])
if "abc" in list1:
  print("Yes, 'abc' is in the fruits list")

thislist[1] = "blackcurrant"
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)
thislist[1:3] = ["watermelon"]
print(thislist)
thislist.insert(2, "watermelon")
print(thislist)

thislist.append("orange")
thislist.insert(1, "orange")
print(thislist)
thislist.pop(1) # Remove the second item
print(thislist)
thislist.pop() # Remove the last item
thislist.clear() # Clear the list content:
print(thislist)
del thislist # Delete the list completely

['apple', 'banana', 'cherry', 'apple', 'cherry']
5
34
male
[True, 40, 'male']
['abc', 34, True, 40]
[34, True, 40]
Yes, 'abc' is in the fruits list
['apple', 'blackcurrant', 'watermelon', 'cherry', 'apple', 'cherry']
['apple', 'watermelon', 'cherry', 'apple', 'cherry']
['apple', 'watermelon', 'watermelon', 'cherry', 'apple', 'cherry']
['apple', 'orange', 'watermelon', 'watermelon', 'cherry', 'apple', 'cherry', 'orange']
['apple', 'watermelon', 'watermelon', 'cherry', 'apple', 'cherry', 'orange']
[]